@charset "UTF-8";

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.7.1
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *
 */




ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

ul.dropdown {
	position: relative;
	z-index: 597;
	float: left;
}

ul.dropdown li {
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
	}

ul.dropdown ul {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 100%;
	}

ul.dropdown ul li {
	float: none;
	}

ul.dropdown li a {
	display: block;
	padding: 7px 10px;
	}

ul.dropdown li {
	padding: 0;
	}

ul.dropdown li.dir {
	padding: 24px 13px 6px;
	background-color:  #252525;
	font-family: arial;
	color:#cccccc;
	opacity:1;
	height:20px;
	position: relative;
	left: 47px;
	top: 6px;
	width:192px;
	z-index: 1000;
	border-bottom-left-radius: 4px;
	}

#nav:hover .dir{
	border-bottom-left-radius: 0px;}

ul.dropdown ul li.dir {
	padding-right: 15px;
	font-family: arial;
	color: white;
	}

ul.dropdown ul a {
	width: inherit;
	font-family: arial;
	color:  white;
	background-color:  #252525;
	margin-bottom:0px;
	margin-top: 0px;
	padding-left:15px;
	padding-top: 9px;
	opacity:1;
	border-color:#252525;
	height:15px;
	color:#cccccc;
	display: none;
 	}


ul.dropdown ul a:hover {
	text-decoration: none;
	background-color: #404040;
	color:#ff7720;
	}

ul.dropdown ul a.dir {
	width: 111px;
	}

a{text-decoration: none;}



#bottombutton{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	height:16px;
	}
			  
#line{
	height:1px;
	background:#717171;
	position: relative;
	top:9px;
	display: none;
	}

#newtab{
	height: 50px;
	width: 34px;	
	position: relative;
	left: 44px;
	top: 6px;
	background-color: #252525;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color:#F36523;
	font-size: 20px;
	float:right;
	z-index: 1000;
	}
		
#newtab, x:-moz-any-link {
	top:6px;
	}
		
#newtab:hover{
	color:#cccccc;
	}
	
span.more{
	font-size:12px;
	font-weight: 600;
	font-family: Arial;
	position: relative;
	top:2px;}

.campaign{
	position: relative;
	top:-2px;
	left:-1px;
	}
	      
#minussign{
	position: relative;
	top: 32px;
	left: 12.5px;
	display: none;
	}
		   
#plussign{
	position: relative;
	top: 28px;
	left: 11.5px;
	display: block;
	}
		  

		