/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* #Site Styles
================================================== */

body {
	margin: 20px;
	background-color: #252525;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	color: #ccc;
}

a:link {
	text-decoration: none;
	color: #f06924;
}

a:visited {
	color: #f06924;
}

a:hover {
	color: #b8501c;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	color: #f06924;
	font-size: 2em;
	margin: 15px 0;	
}

h3 {
	color: #f06924;
	margin: 15px 0 20px 0;	
}

strong {
	color: #fff;
}

.quote {
	font-family: georgia, sans-serif;
	font-size: 1.5em;
	font-style: italic;
}

.source {
	font-size: .75em;
	color: #fff;
	font-weight: bold;
}

a.source, a.source:visited {
	color: #f06924;
	text-decoration: none;
}

a.source:hover {
	text-decoration: underline;
}

.divider, .press {
	margin: 15px 0 15px 0;	
}

.hugeAndRagged {
	font-family: arial, sans-serif;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 1em;
}

.orange {
	color: #f06924;
	text-decoration: none;
}


.tucked {
	margin: 0 10px 10px 10px;
}

.tuckedSpace {
	margin: 10px 10px 0 10px;
}

.pdf {
	background: url(../images/icon-pdf.png) no-repeat 0% 0%;
	height: 18px;
	padding-left: 23px;
	padding-top: 6px;
}

#topLink {
	font-family: arial, sans-serif;
	font-weight: bold;
	position: absolute;
	text-align: right;
	right: 5px;
	padding: 10px 10px 0 0;
	z-index: 2;
}

#topLink a, #topLink a:visited {
	color: #f06924;
	text-decoration: none;
}

#topLink a:hover {
	color: #f06924;
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

.frame {
	border: solid 3px #464646;
	position: relative;
	height:93px;
}

.frameLarge {
	border: solid 7px #464646;
	position: relative;
	height: 194px;
}

.contentFrame {
	border: solid 6px #464646;
	position: relative;
	height:200px;
	margin-bottom: 15px;
}

.mainFrame {
	border-style: solid;
	border-width: 7px;
	border-color: #464646;
	position: relative;
	height:390px;
}

.mainFramed {
	margin: 3px 0 0 3px;
}

.framed {
	margin: 3px 0 0 2px;
	position: absolute;
	top:0px;
	left:0px;
}

.framedLarge {
	margin: 4px 0 0 4px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.content {
	margin-bottom:15px;
}

.contentFramed {
	margin: 4px 0 0 4px;
	position: absolute;
	top:0px;
	left:0px;
}

.frame-overlay {
	margin: 3px 0 0 2px;
	position: absolute;
	top:0px;
	left:0px;
	display:none;
}

.largeFrameOverlay {
	margin: 4px 0 0 4px;
	position: absolute;
	top:0px;
	left:0px;
	display:none;
}

.space {
	margin-bottom: 10px;
}

.bigBorder {
	background:url(../images/bigBorder.png) top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 407px;
	margin-bottom: 10px;
}

.bigBordered {
	margin: 13px 0 0 14px;
}

.firstPress {
	margin-top: 0;
}

p.tucked strong {
	color: #f06924;
}

#noteworthy a, #noteworthy a:visited {
	text-decoration: none;
	font-family: georgia, serif;
	font-size: 1.2em;
}

.noteworthySpan {
	font-weight: bold;
	color: #ccc;
}


#gallery, #micAndShadow, #clothetags {
	position: relative;
}

#iicdLinks {
	list-style-type:none;
	margin-left: 10px;
}





/* ---------------------------------*/

#main a {
	color: #f36523;
	text-decoration: none;
}

#main a:hover {
	color: #f36523;
	text-decoration: underline;
}

#clients {
	text-align: right;
	float: right;
	color: #ccc;
}

ul#clients a {
	color: #848484;
	text-decoration: none;
}

ul#clients a:hover {
	color: #f36523;
	text-decoration: underline;
}

.plus {
	width: 7px;
	margin-left: 5px;
	color: #f36523;
	}
	
.minus {
	width: 7px;
	margin-left: 5px;
	}
	
.expand.hover .plus {
	text-decoration: none;
}

.moveten {
	position: relative;
	right: -12px;
}

.expand a {
	cursor: pointer;
}

ul .projectlist a {
	color: #848484 !important;
}

ul .projectlist a:hover {
	color: #f36523 !important;
}


/* #Page Styles
================================================== */

#clients {
	margin-top: 97px;
	font-size: 68%;
	float: right;
	line-height: 18px;
	letter-spacing: 1px;
	}

#main {
	margin-top: 80px;
	font-size: 700%;
	font-weight: bold;
	color: #ccc;
	line-height: 90%;
	letter-spacing: -5px;
	/*width: 75%;*/
	}

#contact {
	font-size: 20px;
	margin-top: 30px;
	font-weight: normal;
	position: relative;
	bottom: 20px;
	}

ul#clients li {
	list-style: none;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		#clients {
			margin-top: 77px;
			font-size: 68%;
			}

		#main {
			margin-top: 100px;
			font-size: 600%;
			font-weight: bold;
			width: 75%;
			}

		#contact {
			font-size: 20px;
			margin-top: 30px;
			font-weight: normal;
			position: relative;
			bottom: 20px;
			}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#clients {
			margin-top: -60px;
			margin-bottom: 40px;
			font-size: 80%;
			}

		#main {
			margin-top: 20px;
			font-size: 225%;
			letter-spacing: -1px;
			width: 75%;
			}
			
		#heart{
			width: 1em;
			height: 1em;
			}

		#contact {
			font-size: 120%;
			font-weight: normal;
			}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		#clients {
			margin-top: 0px;
			margin-bottom: 40px;
			font-size: 80%;
			}

		#main {
			font-size: 330%;
			letter-spacing: -1px;
			width: 75%;
			}

		#heart{
			width: 1em;
			height: 1em;
			}

		#contact {
			font-size: 120%;
			font-weight: normal;
			}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
