/* #Base 960 Grid
================================================== */

	#mainImageAvonSK {
		background: #fff url('../avon/images/mainImage.png') top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}         

	#mainImageCulturiousSK {
		background: #fff url(../tauck/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 550px;
	}    



   

   
	
	#mainImageMoMASK {
		background: #fff url(../moma/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;	
	}

	#mainImageSephoraSK {
		background: #fff url(../sephora/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageServeSK {
		background: #fff url(../amex_serve/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 590px;
	}    

	#mainImageSkypeSK {
		background: #fff url(../skype/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageStellaSK {
		background: #f1f2f7 url(../stella/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}

	#mainImageSynchstepSK {
		background: #fff url(../synchstep/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageTeguSK {
		background: #fff url(../tegu/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageThinkstockSK {
		background: #fff url(../thinkstock/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    
	
	#mainImageThinkstockASK {
		background: #fff url(../thinkstock/images/mainImageA.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}     

	#containerJoy2011SK {
		position: relative;
		top: -55px;
	}

	#containerKeepItSK {
		position: relative;
		top: -45px;
	}



	#fergieMicSK {
		position: absolute;
		width: 188;
		height: 402;
		top: -944px;
		left: 685px;
		z-index: 3;
	}

	#micShadowSK {
		position: absolute;
		width: 330;
		height: 139;
		top: -150px;
		left: 615px;
		display:none;
		z-index: 4;
	}


	.frameLargeMoodBoardSK {
		border: solid 7px #464646;
		position: relative;
		height: 128px;
	}

	#moodboard {
		position: relative;
	}

	.MoodBoardSK {
		margin: 4px 0 0 3px;
		position: relative;
		height: 119px;
		margin-bottom: 10px;
	}

	.moodBoardOverlaySK {
		margin: 0;
		position: absolute;
		top:0px;
		left:0px;
		width: 620px;
		height: 80px;
		display: none;
	}


	
	#momaHand {
		overflow: hidden;
		position: absolute;
		right: 0px;
		top: 49px;
		z-index: 3;
	}
	
	#stellaTitle {
		position: relative;
	}
	
	#embrace {
		position: absolute;
		top: -325px;
		left: 45px;
		display: none;
		z-index: 4;
	}

	#perfection {
		position: absolute;
		top: -325px;
		left: 545px;
		display: none;
		z-index: 4;
	}
	
	#pokeHeartSK {
		position: absolute;
		top: -240px;
		left: 820px;
		height: 70px;
		width: 70px;
		display: none;
		z-index: 4;
	}


	

	

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {

		#mainImageAvonSK {
			background: #fff url('../avon/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}      


  

		#mainImageCulturiousSK {
			background: #fff url('../tauck/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 437px;
		}    

		#mainImageMoMASK {
			background: #fff url(../moma/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;	
		}


		#mainImageSephoraSK {
			background: #fff url('../sephora/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageSkypeSK {
			background: #fff url(../skype/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageStellaSK {
			background: #f1f2f7 url(../stella/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}

		#mainImageSynchstepSK {
			background: #fff url('../synchstep/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageTeguSK {
			background: #fff url(../tegu/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageThinkstockSK {
			background: #fff url('../thinkstock/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    




		#containerJoy2011SK {
			position: relative;
			top: -44px;
		}	



		#fergieMicSK {
			position: absolute;
			width: 150;
			height: 321;
			top: -752px;
			left: 544px;
			z-index: 3;
		}

		#micShadowSK {
			position: absolute;
			width: 263;
			height: 112;
			top: -120px;
			left: 490px;
			display:none;
			z-index: 4;
		}

		


		#momaHand {
			display: none;
		}

		#stellaTitle {
			position: relative;
		}
	
		#embrace {
			position: absolute;
			top: -260px;
			left: 30px;
			height: 72px;
			width: 247px;
			display: none;
			z-index: 4;
		}

		#perfection {
			position: absolute;
			top: -260px;
			left: 435px;
			height: 72px;
			width: 280px;
			display: none;
			z-index: 4;
		}
	
		#pokeHeartSK {
			position: absolute;
			top: -195px;
			left: 660px;
			height: 57px;
			width: 57px;
			display: none;
			z-index: 4;
		}


	
		


		#topLinLowkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 5px;
			padding: 10px 10px 0 0;
			z-index: 2;
		}

		
		
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {


		#mainImageAvonSK {
			background: #fff url('../avon/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    


		#mainImageCulturiousSK {
			background: #fff url('../tauck/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 183px;
		}    


		#mainImageMoMASK {
			background: #fff url(../moma/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;	
		}

		#mainImageSephoraSK {
			background: #fff url('../sephora/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageSkypeSK {
			background: #fff url(../skype/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageStellaSK {
			background: #f1f2f7 url(../stella/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}

		#mainImageSynchstepSK {
			background: #fff url('../synchstep/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageTeguSK {
			background: #fff url(../tegu/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageThinkstockSK {
			background: #fff url('../thinkstock/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    




		
		#containerJoy2011SK {
			position: relative;
			top: -33px;
		}			



		#fergieMicSK {
			position: absolute;
			width: 64;
			height: 136;
			top: -315px;
			left: 227px;
			z-index: 3;
		}

		#micShadowSK {
			position: absolute;
			width: 112;
			height: 48;
			top: -52px;
			left: 206px;
			display:none;
			z-index: 4;
		}
		

	
		#momaHand {
			display: none;
		}

		#stellaTitle {
			position: relative;
		}
	
		#embrace {
			position: absolute;
			top: -115px;
			left: 5px;
			height: 31px;
			width: 104px;
			display: none;
			z-index: 4;
		}

		#perfection {
			position: absolute;
			top: -115px;
			left: 175px;
			height: 31px;
			width: 119px;
			display: none;
			z-index: 4;
		}
	
		#pokeHeartSK {
			position: absolute;
			top: -87px;
			left: 265px;
			height: 25px;
			width: 25px;
			display: none;
			z-index: 4;
		}




	
		#topLinkLowSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 2px;
			top: 200px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 80%;
		}


		
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {


		#mainImageAvonSK {
			background: #fff url(../avon/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    


		#mainImageCulturiousSK {
			background: #fff url('../tauck/images/mainImage3.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 274px;
		}    

		#mainImageMoMASK {
			background: #fff url(../moma/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;	
		}

		#mainImageSephoraSK {
			background: #fff url(../sephora/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageSkypeSK {
			background: #fff url(../skype/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageStellaSK {
			background: #f1f2f7 url(../stella/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}

		#mainImageSynchstepSK {
			background: #fff url(../synchstep/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageTeguSK {
			background: #fff url(../tegu/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageThinkstockSK {
			background: #fff url(../thinkstock/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    


		#containerJoy2011SK {
			position: relative;
			top: -31px;
		}	


		#momaHand {
			display: none;
		}

		#stellaTitle {
			position: relative;
		}
	
		#embrace {
			position: absolute;
			top: -160px;
			left: 10px;
			height: 46px;
			width: 156px;
			display: none;
			z-index: 4;
		}

		#perfection {
			position: absolute;
			top: -160px;
			left: 260px;
			height: 46px;
			width: 177px;
			display: none;
			z-index: 4;
		}
	
		#pokeHeartSK {
			position: absolute;
			top: -120px;
			left: 397px;
			height: 36px;
			width: 36px;
			display: none;
			z-index: 4;
		}



		#topLinkLowSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 5px;
			top: 295px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 100%;
		}

		

		
		

    }


/* #Clearing
================================================== */


    }


