/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }

	#mainImageAvonSK {
		background: #fff url('../avon/images/mainImage.png') top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    
    
	#mainImageBakerTweetSK {
		background: #fff url('../bakertweet/images/mainImage.png') top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageBBCSK {
		background: #fff url('../bbc/images/mainImage.jpg') top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 786px;
	}    

	#mainImageBenefitSK {
		background: #fff url('../benefit/images/mainImage.png') top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageBodyShopSK {
		background: #fff url(../bodyshop/images/mainImage.png) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageCoachSK {
		background: #fff url(../coach/images/mainImage.png) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageDreamSK {
		background: #fff url(../dream/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 783px;
	}    

	#mainImageDysonSK {
		background: #fff url(../dyson/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageFCUKSK {
		background: #fff url(../fcuk/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageJoy2011SK {
		background: #fff url(../bshopjoy2011/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 670px;
	}    

	#mainImageKYSK {
		background: #fff url(../ky/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageLebronSK {
		background: #fff url(../lebron/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageMillsSK {
		background: #fff url(../ideapantry/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 902px;
	}    
	
	#mainImageMoMASK {
		background: #fff url(../moma/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;	
	}

	#mainImageSephoraSK {
		background: #fff url(../sephora/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageServeSK {
		background: #fff url(../amex_serve/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageSkypeSK {
		background: #fff url(../skype/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageStellaSK {
		background: #f1f2f7 url(../stella/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}

	#mainImageSynchstepSK {
		background: #fff url(../synchstep/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageTeguSK {
		background: #fff url(../tegu/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    

	#mainImageThinkstockSK {
		background: #fff url(../thinkstock/images/mainImage.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}    
	
	#mainImageThinkstockASK {
		background: #fff url(../thinkstock/images/mainImageA.jpg) top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 541px;
	}     

    #kyHeaderSK {
		margin:0 auto; 
		width: 940px;
    }

    .kyBlurbSK {
    	font-family: Arial;
    	font-size: 58pt;
    	font-weight: bold;
    	color: #f06924;
    	letter-spacing: -5px;
    	line-height: 95%;
    	top: 188px;
    	position: absolute;
    	width: 100%;
    	margin-left: 250px;
	}

	#KYslideshow {
		position: absolute;
		width: 940px;
		top: 188px;
	}

	.keyFactsBenefit {
		margin-top: -220px;
	}

	#containerIICDSK {
		position: relative;
		top: -240px;
	}

	#containerJoy2011SK {
		position: relative;
		top: -55px;
	}

	#millsVideoSK {
		background: url('../ideapantry/images/cardVideoBackground.png') top center;
		width: 643px;
		height: 458px;
		position: relative;
		top: 7px;
		margin-left: -23px;
		margin-bottom: 25px;
	}

	.vimeoSKmills {
		max-width: 592px;
		overflow: hidden;
		margin: 24px 0 0 34px;
		position: absolute;
		top: -6px;
		left: -7px;
	}

	#aboutMillsSK {
		margin-top: -105px;
	}

	#millsHeaderSK {
    	margin:0 auto; 
    	width: 940px;
	}

    #millsBlurbSK {
		font-family: Arial;
		font-size: 55pt;
		font-weight: bold;
		color: #848484;
		line-height: 95%;
		letter-spacing: -2px;
		top: 125px;
		position: absolute;
		width: 100%;
	}

	#millsBlurbSK a, #millsBlurbSK a:visited {
		text-decoration: none;
	}

	#millsBlurbSK a:hover {
		color: #f06924;
		text-decoration: underline;
	}

	#millsKeyFactsSK {
		margin-top: -93px;
	}

	#millsTopLinkSK {
		font-family: arial, sans-serif;
		font-weight: bold;
		position: absolute;
		text-align: right;
		right: 5px;
		padding: 10px 10px 0 0;
		z-index: 2;
	}
	
	.millsHeartSK {
		margin-top: 8px;
	}

	#fergieMicSK {
		position: absolute;
		width: 188;
		height: 402;
		top: -944px;
		left: 685px;
		z-index: 3;
	}

	#micShadowSK {
		position: absolute;
		width: 330;
		height: 139;
		top: -150px;
		left: 615px;
		display:none;
		z-index: 4;
	}

	#iPhoneSK {
		size: 100%;
	}

	.imageSK {
		width: 278px;
		height: 186px;
	}

	.frameLargeSK {
		border: solid 7px #464646;
		position: relative;
		height: 194px;
		margin-bottom: 10px;
	}

	.largeFrameOverlaySK {
		margin: 4px 0 0 4px;
		position: absolute;
		top:0px;
		left:0px;
		width: 278px;
		height: 186px;
		display:none;
	}
	
	.bigBorderSK {
		border: solid 7px #464646;
		position: relative;
		height: 399px;
		margin-bottom: 10px;
	}

	.hugeAndRaggedSK {
		font-family: arial, sans-serif;
		font-size: 3em;
		font-weight: bold;
		letter-spacing: -2px;
		line-height: 1em;
	}
	
	.dividerSK {
		margin: 40px 0px 15px 0px;
		width: 950px;
	}

	#containerBBCSK {
		position: relative;
		top: -164px;
	}

	#detectorSK {
		height: 111px;
		width: 419px;
		margin-left: -10px;
		z-index: 2;
	}
		
	#cordBenefit {
		background: url(../benefit/images/cord1.png);
		width: 78px;
		height: 621px;
		position: relative;
		margin-left: -59px;
	}

	#DysonAnchorSK, #cordAnchorSK {
		position:absolute;
	}

	#DysonPlugSK {
		position:relative;
		right: 68px;
	}
	
	#momaHand {
		overflow: hidden;
		position: absolute;
		right: 0px;
		top: 49px;
		z-index: 3;
	}
	
	#stellaTitle {
		position: relative;
	}
	
	#embrace {
		position: absolute;
		top: -325px;
		left: 45px;
		display: none;
		z-index: 4;
	}

	#perfection {
		position: absolute;
		top: -325px;
		left: 545px;
		display: none;
		z-index: 4;
	}
	
	#pokeHeartSK {
		position: absolute;
		top: -240px;
		left: 820px;
		height: 70px;
		width: 70px;
		display: none;
		z-index: 4;
	}

	#tagjacketSK {
		position: absolute;
		top: -275px;
		left: 565px;
		display: none;
		z-index: 3;
	}

	#tagshirtSK {
		position: absolute;
		top: -160px;
		left: 770px;
		display: none;
		z-index: 3;

	}

	#titleSK {
		margin-top: 0px;
	}

	#titleSKtbs {
		font-size: 100%;
		margin-top: 0px;
	}

	#topLinkSK {
		font-family: arial, sans-serif;
		font-weight: bold;
		position: absolute;
		text-align: right;
		right: 5px;
		padding: 10px 10px 0 0;
		z-index: 2;
	}
	
	#topLinkLowSK {
		font-family: arial, sans-serif;
		font-weight: bold;
		position: absolute;
		text-align: right;
		right: 5px;
		padding: 10px 10px 0 0;
		z-index: 2;
	}
	
	.vimeoSK {
		max-width: 592px;
		overflow: hidden;
		margin: 4px 0 0 4px;
		position: absolute;
		top: -6px;
		left: -7px;
	}
	
	#nav{
		position: absolute;
	 	right:194px;
	 	top:-100px;
		display: none;
	    z-index: 3;
	    height:58px;
		}
		
	li #closer{display: none;}
		
	



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

        .container .one.column                      { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 348px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }

		#mainImageAvonSK {
			background: #fff url('../avon/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageBakerTweetSK {
			background: #fff url('../bakertweet/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageBBCSK {
			background: #fff url('../bbc/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 625px;
		}    

		#mainImageBenefitSK {
			background: #fff url('../benefit/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageBodyShopSK {
			background: #fff url(../bodyshop/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageCoachSK {
			background: #fff url('../coach/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageDreamSK {
			background: #fff url('../dream/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 621px;
		}    

		#mainImageDysonSK {
			background: #fff url(../dyson/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageFCUKSK {
			background: #fff url(../fcuk/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageJoy2011SK {
			background: #fff url('../bshopjoy2011/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 533px;
		}    

		#mainImageKYSK {
			background: #fff url(../ky/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageLebronSK {
			background: #fff url('../lebron/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageMillsSK {
			background: #fff url('../ideapantry/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 717px;
		}    

		#mainImageMoMASK {
			background: #fff url(../moma/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;	
		}


		#mainImageSephoraSK {
			background: #fff url('../sephora/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageSkypeSK {
			background: #fff url(../skype/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageStellaSK {
			background: #f1f2f7 url(../stella/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}

		#mainImageSynchstepSK {
			background: #fff url('../synchstep/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageTeguSK {
			background: #fff url(../tegu/images/mainImage2.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

		#mainImageThinkstockSK {
			background: #fff url('../thinkstock/images/mainImage2.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 430px;
		}    

	    #kyHeaderSK {
			margin:0 auto; 
			width: 700px;
	    }
	
	    .kyBlurbSK {
	    	font-family: Arial;
	    	font-size: 46pt;
	    	font-weight: bold;
	    	color: #f06924;
	    	letter-spacing: -3px;
	    	line-height: 95%;
	    	top: 150px;
	    	position: absolute;
	    	width: 100%;
	    	margin-left: 185px;
		}
	
		#KYslideshow {
			position: absolute;
			width: 560px;
			top: 150px;
		}

		#containerIICDSK {
			position: relative;
			top: -191px;
		}

		#containerJoy2011SK {
			position: relative;
			top: -44px;
		}	

		#millsVideoSK {
			background: url('../ideapantry/images/cardVideoBackground2.png') top center;
			width: 512px;
			height: 360px;
			position: relative;
			top: 7px;
			margin-left: -23px;
			margin-bottom: 25px;
		}

		.vimeoSKmills {
			max-width: 464px;
			overflow: hidden;
			margin: 22px 0 0 30px;
			position: absolute;
			top: -6px;
			left: -7px;
		}

		#aboutMillsSK {
			margin-top: -80px;
		}

		#millsHeaderSK {
    		margin:0 auto; 
    		width: 940px;
		}

	    #millsBlurbSK {
			font-family: Arial;
			font-size: 40pt;
			font-weight: bold;
			color: #848484;
			line-height: 95%;
			letter-spacing: -2px;
			top: 80px;
			position: absolute;
			width: 100%;
			margin-left: 30px;
		}

		#millsBlurbSK a, #millsBlurbSK a:visited {
			text-decoration: none;
		}

		#millsBlurbSK a:hover {
			color: #f06924;
			text-decoration: underline;
		}

		#millsKeyFactsSK {
			margin-top: -75px;
		}

		#millsTopLinkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 5px;
			padding: 10px 10px 0 0;
			z-index: 2;
		}

		.millsHeartSK {
			width: 68px;
			height: 65px;
			margin-top: 6px;
		}

		#fergieMicSK {
			position: absolute;
			width: 150;
			height: 321;
			top: -752px;
			left: 544px;
			z-index: 3;
		}

		#micShadowSK {
			position: absolute;
			width: 263;
			height: 112;
			top: -120px;
			left: 490px;
			display:none;
			z-index: 4;
		}

		#iPhoneSK {
			width: 236px;
			height: 471px;
		}

		.imageSK {
			width: 214px;
			height: 143px;
		}

		.frameLargeSK {
			border: solid 7px #464646;
			position: relative;
			height: 152px;
			margin-bottom: 10px;
		}

		.frameLargeSK {
			border: solid 7px #464646;
			position: relative;
			height: 152px;
			margin-bottom: 10px;
		}
		
		.largeFrameOverlaySK {
			margin: 4px 0 0 4px;
			position: absolute;
			top:0px;
			left:0px;
			width: 214px;
			height: 143px;
			display:none;
		}

		.bigBorderSK {
			border: solid 7px #464646;
			position: relative;
			height: 317px;
			margin-bottom: 10px;
		}

		.hugeAndRaggedSK {
			font-family: arial, sans-serif;
			font-size: 2.5em;
			font-weight: bold;
			letter-spacing: -2px;
			line-height: 1em;
		}

		.dividerSK {
			margin: 15px 0 15px 0;
			width: 758px;
		}
		
		#containerBBCSK {
			position: relative;
			top: -164px;
		}

		#detectorSK {
			height: 111px;
			width: 419px;
			margin-left: -7px;
			z-index: 2;
		}
		
		#cordBenefit {
			background: url(../benefit/images/cord1.png);
			width: 78px;
			height: 621px;
			position: relative;
			margin-left: -55px;
		}

		#DysonAnchorSK, #cordAnchorSK {
			position:absolute;
		}

		#DysonPlugSK {
			position:relative;
			right: 52px;
			width: 63px;
			height: 78px;
		}

		#momaHand {
			display: none;
		}

		#stellaTitle {
			position: relative;
		}
	
		#embrace {
			position: absolute;
			top: -260px;
			left: 30px;
			height: 72px;
			width: 247px;
			display: none;
			z-index: 4;
		}

		#perfection {
			position: absolute;
			top: -260px;
			left: 435px;
			height: 72px;
			width: 280px;
			display: none;
			z-index: 4;
		}
	
		#pokeHeartSK {
			position: absolute;
			top: -195px;
			left: 660px;
			height: 57px;
			width: 57px;
			display: none;
			z-index: 4;
		}

		#tagjacketSK {
			width: 142px;
			height: 24px;
			position: absolute;
			top: -219px;
			left: 450px;
			display: none;
			z-index: 3;
		}

		#tagshirtSK {
			width: 142px;
			height: 24px;
			position: absolute;
			top: -126px;
			left: 608px;
			display: none;
			z-index: 3;
		}
		
		#titleSK {
			margin-top: 0px;
		}

		#titleSKtbs {
			font-size: 90%;
			margin-top: 0px;
		}
		
		#topLinkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 5px;
			padding: 10px 10px 0 0;
			z-index: 2;
		}

		#topLinLowkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 5px;
			padding: 10px 10px 0 0;
			z-index: 2;
		}

		.vimeoSK {
			max-width: 464px;
			overflow: hidden;
			margin: 4px 0 0 4px;
			position: absolute;
			top: -6px;
			left: -7px;
		}
		
		#nav{
			position: absolute;
	 		right:144px;
		 	top:-100px;
	 		display: none;
		    z-index: 3;
	        height:58px;
		}
		
		li #closer{display: none;}
		
		
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

		#mainImageAvonSK {
			background: #fff url('../avon/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageBakerTweetSK {
			background: #fff url('../bakertweet/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageBBCSK {
			background: #fff url('../bbc/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 262px;
		}    

		#mainImageBenefitSK {
			background: #fff url('../benefit/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageBodyShopSK {
			background: #fff url(../bodyshop/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageCoachSK {
			background: #fff url('../coach/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 1000px;
		}    

		#mainImageDreamSK {
			background: #fff url('../dream/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 260px;
		}    

		#mainImageDysonSK {
			background: #fff url(../dyson/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageFCUKSK {
			background: #fff url(../fcuk/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}

		#mainImageJoy2011SK {
			background: #fff url('../bshopjoy2011/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 223px;
		}    

		#mainImageKYSK {
			background: #fff url(../ky/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageLebronSK {
			background: #fff url('../lebron/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageMillsSK {
			background: #fff url('../ideapantry/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 300px;
		}    

		#mainImageMoMASK {
			background: #fff url(../moma/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;	
		}

		#mainImageSephoraSK {
			background: #fff url('../sephora/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageSkypeSK {
			background: #fff url(../skype/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageStellaSK {
			background: #f1f2f7 url(../stella/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}

		#mainImageSynchstepSK {
			background: #fff url('../synchstep/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageTeguSK {
			background: #fff url(../tegu/images/mainImage4.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

		#mainImageThinkstockSK {
			background: #fff url('../thinkstock/images/mainImage4.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 180px;
		}    

	    #kyHeaderSK {
			margin:0 auto; 
			width: 215px;
	    }
	
	    .kyBlurbSK {
	    	font-family: Arial;
	    	font-size: 19pt;
	    	font-weight: bold;
	    	color: #f06924;
	    	letter-spacing: -1px;
	    	line-height: 95%;
	    	top: 63px;
	    	position: absolute;
	    	width: 100%;
	    	margin-left: 55px;
		}
	
		#KYslideshow {
			position: absolute;
			width: 205px;
			top: 63px;
		}

		#containerIICDSK {
			position: relative;
			top: -120px;
		}
		
		#containerJoy2011SK {
			position: relative;
			top: -33px;
		}			

		#millsVideoSK {
			background: url('../ideapantry/images/cardVideoBackground4.png') top center;
			width: 300px;
			height: 211px;
			position: relative;
			top: 7px;
			margin-left: -23px;
			margin-bottom: 25px;
			z-index: 1;
		}

		.vimeoSKmills {
			max-width: 272px;
			overflow: hidden;
			margin: 16px 0 0 22px;
			position: absolute;
			top: -6px;
			left: -7px;
		}

		#aboutMillsSK {
			margin-top: -30px;
		}

		#millsHeaderSK {
    		margin:0 auto; 
    		width: 940px;
		}

	    #millsBlurbSK {
			font-family: Arial;
			font-size: 24pt;
			font-weight: bold;
			color: #848484;
			line-height: 95%;
			letter-spacing: -1px;
			top: 25px;
			position: absolute;
			width: 100%;
			margin-left: 10px;
		}

		#millsBlurbSK a, #millsBlurbSK a:visited {
			text-decoration: none;
		}

		#millsBlurbSK a:hover {
			color: #f06924;
			text-decoration: underline;
		}

		#millsKeyFactsSK {
			margin-top: -30px;
		}

		#millsTopLinkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 2px;
			top: 260px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 80%;
		}

		.millsHeartSK {
			width: 37px;
			height: 35px;
			margin-top: 4px;
		}

		#fergieMicSK {
			position: absolute;
			width: 64;
			height: 136;
			top: -315px;
			left: 227px;
			z-index: 3;
		}

		#micShadowSK {
			position: absolute;
			width: 112;
			height: 48;
			top: -52px;
			left: 206px;
			display:none;
			z-index: 4;
		}

		#iPhoneSK {
			size: 100%;
			padding-top: 25px;
		}

		.imageSK {
			width: 278px;
			height: 186px;
		}

		.frameLargeSK {
			border: solid 7px #464646;
			position: relative;
			height: 194px;
			margin-bottom: 0px;
			margin-top: 15px;

		}
		
		.largeFrameOverlaySK {
			margin: 4px 0 0 4px;
			position: absolute;
			top:0px;
			left:0px;
			width: 278px;
			height: 186px;
			display:none;
		}

		.bigBorderSK {
			border: solid 7px #464646;
			position: relative;
			height: 196px;
			margin-bottom: 10px;
		}

		.hugeAndRaggedSK {
			font-family: arial, sans-serif;
			font-size: 1.5em;
			font-weight: bold;
			letter-spacing: 0px;
			line-height: 1em;
		}

		.dividerSK {
			margin: 15px 0 15px 0;
			width: 295px;
		}

		#containerBBCSK {
			position: relative;
			top: -54px;
		}

		#detectorSK {
			height: 78px;
			width: 295px;
			margin-left: 0px;
			z-index: 2;
		}
		
		#cordBenefit {
			background: url(../benefit/images/cord3.png);
			width: 65px;
			height: 1110px;
			position: relative;
			margin-left: -42px;
		}

		#DysonAnchorSK, #cordAnchorSK {
			position:absolute;
		}

		#DysonPlugSK {
			position:relative;
			right: 33px;
			width: 28px;
			height: 34px;
		}

		#momaHand {
			display: none;
		}

		#stellaTitle {
			position: relative;
		}
	
		#embrace {
			position: absolute;
			top: -115px;
			left: 5px;
			height: 31px;
			width: 104px;
			display: none;
			z-index: 4;
		}

		#perfection {
			position: absolute;
			top: -115px;
			left: 175px;
			height: 31px;
			width: 119px;
			display: none;
			z-index: 4;
		}
	
		#pokeHeartSK {
			position: absolute;
			top: -87px;
			left: 265px;
			height: 25px;
			width: 25px;
			display: none;
			z-index: 4;
		}

		#tagjacketSK {
			width: 90px;
			height: 15px;
			position: absolute;
			top: -94px;
			left: 164px;
			display: none;
			z-index: 3;
		}

		#tagshirtSK {
			width: 90px;
			height: 15px;
			position: absolute;
			top: -55px;
			left: 217px;
			display: none;
			z-index: 3;
		}

		#titleSK {
			font-size: 85%;
			margin-top: 30px;
			margin-bottom: 10px;
		}

		#titleSKtbs {
			font-size: 50%;
			margin-top: 0px;
		}

		#topLinkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 2px;
			top: 178px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 80%;
		}

		#topLinkLowSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 2px;
			top: 200px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 80%;
		}
		
		.vimeoSK {
			max-width: 272px;
			overflow: hidden;
			margin: 4px 0 0 4px;
			position: absolute;
			top: -6px;
			left: -7px;
		}

		#coachPoppyProject_poppy {
			/*top: 246px !important;*/
			/*top: 3750px !important;*/
		}
		
		#mainImageCoachSK {
			height: 1000px; !important;
		}
		
		#nav{
			position: absolute;
	 		right:15px;
		 	top:-100px;
	 		display: none;
		    z-index: 3;
	        height:58px;
		}

		li #closer{display:block;}
		
		
		
		
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }

		#mainImageAvonSK {
			background: #fff url(../avon/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageBakerTweetSK {
			background: #fff url('../bakertweet/images/mainImage3.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageBBCSK {
			background: #fff url(../bbc/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 393px;
		}    

		#mainImageBenefitSK {
			background: #fff url(../benefit/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageBodyShopSK {
			background: #fff url(../bodyshop/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageCoachSK {
			background: #fff url(../coach/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 900px;
		}    

		#mainImageDreamSK {
			background: #252525 url(../dream/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 390px;
		}    

		#mainImageDysonSK {
			background: #fff url(../dyson/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageFCUKSK {
			background: #fff url(../fcuk/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageJoy2011SK {
			background: #fff url('../bshopjoy2011/images/mainImage3.jpg') top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 335px;
		}    

		#mainImageKYSK {
			background: #fff url(../ky/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageLebronSK {
			background: #fff url(../lebron/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageMillsSK {
			background: #fff url(../ideapantry/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 450px;
		}    

		#mainImageMoMASK {
			background: #fff url(../moma/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;	
		}

		#mainImageSephoraSK {
			background: #fff url(../sephora/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageSkypeSK {
			background: #fff url(../skype/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageStellaSK {
			background: #f1f2f7 url(../stella/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}

		#mainImageSynchstepSK {
			background: #fff url(../synchstep/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageTeguSK {
			background: #fff url(../tegu/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

		#mainImageThinkstockSK {
			background: #fff url(../thinkstock/images/mainImage3.jpg) top center;
			background-repeat: no-repeat;
			width: 100%;
			height: 270px;
		}    

	    #kyHeaderSK {
			margin:0 auto; 
			width: 350px;
	    }
	
	    .kyBlurbSK {
	    	font-family: Arial;
	    	font-size: 29pt;
	    	font-weight: bold;
	    	color: #f06924;
	    	letter-spacing: -1px;
	    	line-height: 90%;
	    	top: 95px;
	    	position: absolute;
	    	width: 100%;
	    	margin-left: 80px;
		}
	
		#KYslideshow {
			position: absolute;
			width: 330px;
			top: 95px;
		}

		#containerIICDSK {
			position: relative;
			top: -141px;
		}
		
		#containerJoy2011SK {
			position: relative;
			top: -31px;
		}	

		#millsVideoSK {
			background: url('../ideapantry/images/cardVideoBackground3.png') top center;
			width: 420px;
			height: 295px;
			position: relative;
			top: 7px;
			margin-left: -23px;
			margin-bottom: 25px;
			z-index: 1;
		}

		.vimeoSKmills {
			max-width: 392px;
			overflow: hidden;
			margin: 20px 0 0 21px;
			position: absolute;
			top: -6px;
			left: -7px;
		}

		#aboutMillsSK {
			margin-top: -30px;
		}

		#millsHeaderSK {
    		margin:0 auto; 
    		width: 940px;
		}

	    #millsBlurbSK {
			font-family: Arial;
			font-size: 32pt;
			font-weight: bold;
			color: #848484;
			line-height: 95%;
			letter-spacing: -2px;
			top: 40px;
			position: absolute;
			width: 100%;
			margin-left: 15px;
		}

		#millsBlurbSK a, #millsBlurbSK a:visited {
			text-decoration: none;
		}

		#millsBlurbSK a:hover {
			color: #f06924;
			text-decoration: underline;
		}

		#millsKeyFactsSK {
			margin-top: 0px;
		}

		#millsTopLinkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 2px;
			top: 360px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 80%;
		}

		.millsHeartSK {
			width: 40px;
			height: 38px;
			margin-top: 4px;
		}

		#fergieMicSK {
			position: absolute;
			width: 95;
			height: 203;
			top: -472px;
			left: 341px;
			z-index: 3;
		}

		#micShadowSK {
			position: absolute;
			width: 166;
			height: 71;
			top: -76px;
			left: 308px;
			display:none;
			z-index: 4;
		}

		#iPhoneSK {
			size: 100%;
			padding-left: 58px;
		}

		.imageSK {
			width: 398px;
			height: 267px;
		}

		.frameLargeSK {
			border: solid 7px #464646;
			position: relative;
			height: 275px;
			margin-bottom: 15px;
			margin-top: 15px;
		}

		.largeFrameOverlaySK {
			margin: 4px 0 0 4px;
			position: absolute;
			top:0px;
			left:0px;
			width: 398px;
			height: 267px;
			display:none;
		}

		.bigBorderSK {
			border: solid 7px #464646;
			position: relative;
			height: 272px;
			margin-bottom: 10px;
		}

		.hugeAndRaggedSK {
			font-family: arial, sans-serif;
			font-size: 2em;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 1em;
		}
		
		.dividerSK {
			margin: 15px 0 15px 0;
			width: 410px;
		}

		#containerBBCSK {
			position: relative;
			top: -84px;
		}
		
		#detectorSK {
			height: 78px;
			width: 295px;
			margin-left: 0px;
			z-index: 2;
		}
		
		#cordBenefit {
			background: url(../benefit/images/cord4.png);
			width: 68px;
			height: 1186px;
			position: relative;
			margin-left: -67px;
		}

		#DysonAnchorSK, #cordAnchorSK {
			position:absolute;
		}

		#DysonPlugSK {
			position:relative;
			right: 65px;
			width: 41px;
			height: 50px;
		}

		#momaHand {
			display: none;
		}

		#stellaTitle {
			position: relative;
		}
	
		#embrace {
			position: absolute;
			top: -160px;
			left: 10px;
			height: 46px;
			width: 156px;
			display: none;
			z-index: 4;
		}

		#perfection {
			position: absolute;
			top: -160px;
			left: 260px;
			height: 46px;
			width: 177px;
			display: none;
			z-index: 4;
		}
	
		#pokeHeartSK {
			position: absolute;
			top: -120px;
			left: 397px;
			height: 36px;
			width: 36px;
			display: none;
			z-index: 4;
		}

		#tagjacketSK {
			width: 90px;
			height: 15px;
			position: absolute;
			top: -137px;
			left: 257px;
			display: none;
			z-index: 3;
		}

		#tagshirtSK {
			width: 90px;
			height: 15px;
			position: absolute;
			top: -80px;
			left: 358px;
			display: none;
			z-index: 3;
		}
		
		#titleSK {
			font-size: 100%;
			margin-top: 0px;
			margin-bottom: 20px;
		}

		#titleSKtbs {
			font-size: 70%;
			margin-top: 0px;
		}
		
		#topLinkSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 5px;
			top: 280px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 100%;
		}

		#topLinkLowSK {
			font-family: arial, sans-serif;
			font-weight: bold;
			position: absolute;
			text-align: right;
			right: 5px;
			top: 295px;
			padding: 10px 10px 0 0;
			z-index: 2;
			font-size: 100%;
		}


		.vimeoSK {
			max-width: 392px;
			overflow: hidden;
			margin: 4px 0 0 4px;
			position: absolute;
			top: -6px;
			left: -7px;
		}

		#coachPoppyProject_poppy {
			/*top: 246px !important;*/
			/*top: 3750px !important;*/
		}
		
		#mainImageCoachSK {
			height: 900px; !important;
		}
		
		#nav{
			position: absolute;
	 		right:13px;
		 	top:-100px;
	 		display: none;
		    z-index: 3;
	        height:58px;
		}
		
		li #closer{display:block;}
		
		

    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


