body {
	background-color: #252525;
	color: #ccc;
}

#mainImageAvon {
	background: #eaeaea url('../avon/images/mainImage.jpg') top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 541px;
	position: relative;
	z-index: 1;
}

#mainImageBakerTweet {
	background: #fff url('../bakertweet/images/mainImage.png') top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 541px;
}

#mainImageTegu {
	background: #fff url('../tegu/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 542px;
}

#mainImageCoach {
	background: #fff url('../coach/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 542px;
}

#mainImageLebron {
	background: #fff url('../lebron/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 542px;
}

#mainImageIICD {
	background: #fff url('../dream/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 783px;
}

#mainImageBBC {
	background: #fff url('../bbc/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 786px;
}

#mainImageDyson {
	background: #fff url('../dyson/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 541px;
}

#mainImageMills {
	background: #fff url('../ideapantry/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 902px;
}

#mainImageSephora {
	background: #fff url('../sephora/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 541px;
}

#mainImageBenefit {
	background: #fff url('../benefit/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 541px;
}

#mainImageBodyShop {
	background: #fff url('../bodyshop/images/mainImage.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 541px;
}

#mainImageFCUK {
	background: #fff url('../fcuk/images/mainImage.png') top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 541px;
}

#mainImageSkype {
	background: #fff url('../skype/images/mainImage.jpg') top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 541px;
}

#mainImageThinkstock {
	background: #fff url('../thinkstock/images/mainImage.jpg') top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 541px;
}

#headerImg {
	width:1450px;
	margin:0 auto;
}

a:link {
	text-decoration: none;
	color: #f06924;
}

a:visited {
	color: #f06924;
}

a:hover {
	color: #b8501c;
	text-decoration: underline;
}

h1 {
	color: #f06924;
	font-size: 2em;
	margin: 15px 0 15px 0;	
}

h3 {
	color: #f06924;
	margin: 15px 0 20px 0;	
}

strong {
	color: #fff;
}

.quote {
	font-family: georgia, sans-serif;
	font-size: 1.5em;
	font-style: italic;
}

.source {
	font-size: .75em;
	color: #fff;
	font-weight: bold;
}

a.source, a.source:visited {
	color: #f06924;
	text-decoration: none;
}

a.source:hover {
	text-decoration: underline;
}

.divider, .press {
	margin: 15px 0 15px 0;	
}

.hugeAndRagged {
	font-family: arial, sans-serif;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 1em;
}

.orange {
	color: #f06924;
	text-decoration: none;
}

#contentBakerTweet {
	position: relative;
	top: -20px;
}

.tucked {
	margin: 0 10px 10px 10px;
}

.tuckedSpace {
	margin: 10px 10px 0 10px;
}

#topLink {
	font-family: arial, sans-serif;
	font-weight: bold;
	position: absolute;
	text-align: right;
	right: 5px;
	padding: 10px 10px 0 0;
	z-index: 2;
}

#topLink a, #topLink a:visited {
	color: #f06924;
	text-decoration: none;
}

#topLink a:hover {
	color: #f06924;
	text-decoration: underline;
}
	
.pdf {
	background: url(../images/icon-pdf.png) no-repeat 0% 0%;
	height: 18px;
	padding-left: 23px;
	padding-top: 6px;
}

#containerIICD {
	position: relative;
	top: -240px;
}


#containerBBC {
	position: relative;
	top: -164px;
}

.firstPress {
	margin-top: 0;
}

p.tucked strong {
	color: #f06924;
}

#noteworthy a, #noteworthy a:visited {
	text-decoration: none;
	font-family: georgia, serif;
	font-size: 1.2em;
}

.noteworthySpan {
	font-weight: bold;
	color: #ccc;
}

.backdrop {
	/*background-color: rgba(0,0,0,0.6);*/
	background-color: #252525;
	height: 395px;
}

.backdrop p {
	font-size: 1.1em;
	color: #fff;
}

.headline {
	font-size: 1.3em;
	font-weight: bold;
	color: #f06924;
	display:block;
}

.overlayLarge {
	display:none;
	padding: 10px 0 0 11px;
}

#dreamLeftContentImage {
	background:url(../dream/images/contentImageLeft.png);
  	width:300px;
  	height:208px;
  	position:relative;
}

.frame {
	border: solid 3px #464646;
	position: relative;
	height:93px;
}

.frameLarge {
	border: solid 7px #464646;
	position: relative;
	height: 194px;
}

.contentFrame {
	border: solid 6px #464646;
	position: relative;
	height:200px;
	margin-bottom: 15px;
}

.mainFrame {
	border-style: solid;
	border-width: 7px;
	border-color: #464646;
	position: relative;
	height:390px;
}

.mainFramed {
	margin: 3px 0 0 3px;
}

.framed {
	margin: 3px 0 0 2px;
	position: absolute;
	top:0px;
	left:0px;
}

.framedLarge {
	margin: 4px 0 0 4px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.content {
	margin-bottom:15px;
}

.contentFramed {
	margin: 4px 0 0 4px;
	position: absolute;
	top:0px;
	left:0px;
}

.frame-overlay {
	margin: 3px 0 0 2px;
	position: absolute;
	top:0px;
	left:0px;
	display:none;
}

.largeFrameOverlay {
	margin: 4px 0 0 4px;
	position: absolute;
	top:0px;
	left:0px;
	display:none;
}

.space {
	margin-bottom: 10px;
}

.bigBorder {
	background:url(../images/bigBorder.png) top center;
	background-repeat:no-repeat;
	width: 100%;
	height: 407px;
	margin-bottom: 10px;
}

.bigBordered {
	margin: 13px 0 0 14px;
}

#mainMillsCards {
	background: url('../ideapantry/images/cards.png') top center;
	background-repeat:no-repeat;
	width: 100%;
	margin-top: -25px;
}

#millsVideo {
	background: url('../ideapantry/images/cardVideoBackground.png') top center;
	width: 643px;
	height: 458px;
	position: relative;
	top: 7px;
	margin-left: -23px;
	margin-bottom: 25px;
}

#theVideo {
	margin-top: 24px;
	margin-left: 10px;
}

#millsTwitter {
	position: relative;
	top: 20px;
	margin-bottom: 30px;
}


#ADDSPACE {
	height:100px;
}

#contentStuff {
	margin-top: 250px;
}

#millsKeyFacts {
	margin-top: -93px;
}

#aboutMills {
	margin-top: -105px;
}

#millsBlurb {
	font-family: Arial;
	font-size: 55pt;
	font-weight: bold;
	color: #848484;
	line-height: 95%;
	letter-spacing: -2px;
	top: 125px;
	position: absolute;
	width: 100%;
}

#millsBlurb a, #millsBlurb a:visited {
	text-decoration: none;
}

#millsBlurb a:hover {
	color: #f06924;
	text-decoration: underline;
}

.millsHeart {
	margin-top: 8px;
}

#DysonAnchor, #cordAnchor {
	position:absolute;
}

#DysonPlug {
	position:relative;
	right: 68px;
}

#benefitCord {
	position: relative;
	right: 69px;
}

#benefitDetector {
	position: relative;
	right: 73px;
	top: 98px;
}

#gallery, #micAndShadow, #clothetags {
	position: relative;
}

#fergieMic {
	position: absolute;
	top: -944px;
	left: 685px;
	z-index: 3;
}

#micShadow {
	position: absolute;
	top: -150px;
	left: 615px;
	display:none;
	z-index: 4;
}

#iicdLinks {
	list-style-type:none;
	margin-left: 10px;
}

#tagjacket {
position: absolute;
top: -275px;
left: 565px;
display: none;
z-index: 3;
}

#tagshirt {
position: absolute;
top: -160px;
left: 770px;
display: none;
z-index: 3;

}